
.word-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    .chip {
      padding: 10px;
      background-color: #ddd;
      border-radius: 25px;
      transition: all 0.3s ease;
  
      &:hover {
        @apply bg-primary text-white;
        transform: scale(1.1);
      }
    }
    
    /* Dark mode styles */
    .dark & {
        .chip {
            @apply  text-dark; /* Set text color to black in dark mode */

            &:hover {
                @apply bg-primary text-white; 
            }
        }
    }
  }